In [91]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import datetime

import plotly.plotly as py
from plotly.graph_objs import *

In [3]:
normal_df = pd.read_csv("normal_il_data_w_geocode.csv")
normal_df = normal_df.drop(['Unnamed: 0'], axis=1)

In [5]:
normal_df.head()

,id,date,time,fault,motorist_name,motorist_gender,insured,veh_make,veh_model,veh_year,...,location_bike,arrest,officer_id,m_citation,m_section,c_citation,c_section,hospital,summary,lat_long
0,14-358,03/26/14,05:18:00 PM,cyclist,Jonathan T. Coughlon,m,y,ford,edge,2011,...,sidewalk,cyclist,7700,NaN,NaN,237233,11-1002(b),refused,"cyclist on sidewalk, didn't stop at intersection","[40.5098029, -89.00439019999999]"
1,14-575,06/04/14,03:23:00 PM,unknown,Anna M. Eastman,f,y,ford,taurus,2004,...,parking_lot,no,na,NaN,NaN,NaN,NaN,bromenn,kids playing in a parking lot,"[40.502852, -88.98104599999999]"
2,14-576,06/04/14,09:40:00 PM,cyclist,Zachery A. Perhoch,m,y,chevrolet,unknown,2009,...,intersection,cyclist,954,NaN,NaN,241473,11-306,bromenn,"cyclist ran a red light, hit by car","[40.5049212, -88.9822318]"
3,A2014-778,08/14/14,03:40:00 PM,cyclist,Sarah L. Tretter,f,y,mitsubishi,outlander,2012,...,sidewalk,cyclist,871,NaN,NaN,NaN,NaN,refused,"cyclist on sidewalk, didn't stop at intersection","[40.5208051, -88.96081679999999]"
4,A2014-797,08/18/14,05:45:00 PM,motorist,Edward C. Houchens,m,y,cadillac,eldorado,1999,...,crosswalk,no,700,NaN,NaN,NaN,NaN,no,motorist turned into the rear wheel of a cycli...,"[40.5049212, -88.9822318]"

In [46]:
normal_df.columns

Index([u'id', u'date', u'time', u'fault', u'motorist_name', u'motorist_gender',
       u'insured', u'veh_make', u'veh_model', u'veh_year', u'cyclist_name',
       u'cyclist_gender', u'bike', u'geo_loc', u'location_car',
       u'location_bike', u'arrest', u'officer_id', u'm_citation', u'm_section',
       u'c_citation', u'c_section', u'hospital', u'summary', u'lat_long'],
      dtype='object')

In [6]:
bloomington_df = pd.read_csv("bloomington_il_engineering_2014plus_w_geocode.csv")

In [7]:
bloomington_df.head()

,NSTRT,ESTRT,REPORT_NO,TYPE,INJA,INJB,INJC,INJK,DIST,DIR,...,LITE,AC_DATE,AC_TIME,DIRU1,DIRU2,YEAR,INTRSECT,ID,intersection,lat_long
0,PROSPECT RD,ELDORADO RD SOUTH,20140017,2,0,0,0,0,60,E,...,1,1/4/2014,7:30 PM,NE,SE,2014,N,471,intersection of PROSPECT RD and ELDORADO RD SOUTH,"[40.4742158, -88.9502491]"
1,MAIN ST,R T DUNN DR,20140201,2,0,0,0,0,0,NaN,...,1,1/30/2014,4:30 PM,S,S,2014,Y,1578,intersection of MAIN ST and R T DUNN DR,"[40.4602899, -88.9930053]"
2,CLINTON ST,LOCUST ST,14-45717,2,0,0,0,0,0,NaN,...,1,3/30/2014,11:17 AM,N,E,2014,N,165,intersection of CLINTON ST and LOCUST ST,"[40.4847097, -88.9847165]"
3,PRAIRIE ST,WASHINGTON ST,14-44522,2,0,0,0,0,0,NaN,...,4,4/12/2014,2:54 AM,W,NW,2014,Y,1106,intersection of PRAIRIE ST and WASHINGTON ST,"[40.4796281, -88.9909237]"
4,GRIDLEY ST,OAKLAND AVE,14-40522,2,0,0,0,0,0,NaN,...,1,5/4/2014,12:48 PM,S,W,2014,Y,241,intersection of GRIDLEY ST and OAKLAND AVE,"[40.4737946, -88.98983249999999]"

In [42]:
#how many accidents were in bloomington, and normal

normal_count = normal_df.shape[0]
bloomington_count = bloomington_df.shape[0]

BLOOMINGTON_POP = 78902
NORMAL_POP= 54664

blono_crash_per_capita = bloomington_count / float(BLOOMINGTON_POP)
normal_crash_per_capita = normal_count / float(NORMAL_POP)

print " %0.2f crashes per 10,000 people in bloomington" % ( blono_crash_per_capita * 10000)
print  " %0.2f crashes per 10,000 people in normal" % (normal_crash_per_capita * 10000)


#Going to just use X2 here because lazy, sorry Bayesians.

obs = np.array(([normal_count, NORMAL_POP-normal_count], [bloomington_count, BLOOMINGTON_POP-bloomington_count]))
chi2, p, dof, expected = stats.chi2_contingency(obs)
print 'null hypothesis is that bloomington and normal are equally safe for bikers'
print "p = " +  str(p)
print "fail to reject the null at p < 0.5"

 3.04 crashes per 10,000 people in bloomington
 2.56 crashes per 10,000 people in normal
null hypothesis is that bloomington and normal are equally safe for bikers
p = 0.728471603505
fail to reject the null at p < 0.5

# Deeper Statistical Analysis

Problems - 
*  bike accidents are very rare (Future Mike:  Talk to AC.   You've found a zero inflated Poisson problem)
*  not much commonality between these datasets.
*  Bloomington's open data sucks


Approach
* take the common variables I do have
* engineer features
* descriptive stats on when accidents happen maybe?
* could try unsupervised ML
* ???

In [55]:
#combine common fields across datasets.
normal_clean = pd.DataFrame()
normal_clean['date'] = normal_df.date
normal_clean['time'] = normal_df.time
normal_clean['geo_loc'] = normal_df.geo_loc
normal_clean['lat_long'] = normal_df.lat_long
normal_clean['id'] = normal_df.id

bloomington_clean = pd.DataFrame()
bloomington_clean['date'] = bloomington_df.AC_DATE
bloomington_clean['time'] = bloomington_df.AC_TIME
bloomington_clean['geo_loc'] = bloomington_df.intersection
bloomington_clean['lat_long'] = bloomington_df.lat_long
bloomington_clean['id'] = bloomington_df.REPORT_NO

complete_df = bloomington_clean.append(normal_clean, ignore_index=True)

In [56]:
complete_df.head()

,date,time,geo_loc,lat_long,id
0,1/4/2014,7:30 PM,intersection of PROSPECT RD and ELDORADO RD SOUTH,"[40.4742158, -88.9502491]",20140017
1,1/30/2014,4:30 PM,intersection of MAIN ST and R T DUNN DR,"[40.4602899, -88.9930053]",20140201
2,3/30/2014,11:17 AM,intersection of CLINTON ST and LOCUST ST,"[40.4847097, -88.9847165]",14-45717
3,4/12/2014,2:54 AM,intersection of PRAIRIE ST and WASHINGTON ST,"[40.4796281, -88.9909237]",14-44522
4,5/4/2014,12:48 PM,intersection of GRIDLEY ST and OAKLAND AVE,"[40.4737946, -88.98983249999999]",14-40522

In [77]:
#break out month, day, year

def get_month_day_year(date):
    month, day, year = date.split("/")

    return int(month), int(day), int(year)

complete_df['month'], complete_df['day'], complete_df['year'] = zip(*complete_df.date.map(get_month_day_year))

In [82]:
#time as an hour bin (could also do seconds of day or something for continuous, this is more human understandable)

def bin_hours(time):
    hour = int(time.split(':')[0])
    am_pm = time.split(' ')[1].lower()
    if am_pm == 'pm':
        hour +=12
    return hour

complete_df['hour_bin'] = complete_df.time.map(bin_hours)

In [88]:
#clean up lat and long

def clean_lat_long(x):
    x = x.strip('[]')
    latitude, longitude = x.split(',')
    return float(latitude), float(longitude)


complete_df['latitude'], complete_df['longitude'] = zip(*complete_df.lat_long.map(clean_lat_long))

In [99]:
#day of week feature

def day_of_week(date):
    month, day, year = (int(x) for x in date.split('/'))
    if year < 99:
        year = 2000 + year   #do you want y3k, because this is how you get y3k
    dt = datetime.date(year, month, day)
    return dt.strftime("%A")

complete_df['day_of_week'] = complete_df.date.map(day_of_week)

###TODO

*  MDS 
*  K-Means

In [102]:
#month histogram

data = Data([
    Histogram(
        x = complete_df.month.values,
        histnorm='count',
        autobinx=False,
        xbins=XBins(
        start=0,
        end=12,
        size=1
    ),
)])

layout = Layout(
    title='What Months Do Crashes Occur At?',
    
     xaxis=XAxis(
        title='Month'
    ),
    yaxis=YAxis(
        title='Count'
    ),
)

fig=Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='month_hist')

In [106]:
#hour histogram

data = Data([
    Histogram(
        x = complete_df.hour_bin.values,
        histnorm='count',
        autobinx=False,
        xbins=XBins(
        start=0,
        end=23,
        size=1
    ),
)])

layout = Layout(
    title='What Times Do Crashes Occur At?',
    
     xaxis=XAxis(
        title='Hour'
    ),
    yaxis=YAxis(
        title='Count'
    ),
)

fig=Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='hour_hist')

In [108]:
#day of week histogram

data = Data([
    Histogram(
        x = complete_df.day_of_week.values,
        histnorm='count',
        autobinx=False,
        xbins=XBins(
        start=0,
        end=7,
        size=1
    ),
)])

layout = Layout(
    title='What Day of the Week Do Crashes Occur At?',
    
     xaxis=XAxis(
        title='Day'
    ),
    yaxis=YAxis(
        title='Count'
    ),
)

fig=Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='day_hist')